html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
h1,h2,h3,h4,h5 {font-weight: bolder;}
.w3-bar-block .w3-bar-item {padding: 16px}
   
::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  opacity:0.3;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* .lighter * {
    filter: brightness(1) saturate(1) !important;
}
*.lighter {
    filter: brightness(1.5) saturate(0.4);
} */

/* .lighter,
.dark{
  position:relative;
  z-index:0;
}
.lighter:before,
.dark:before{
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:inherit;
  filter:brightness(1.5) saturate(0.4);
}
.dark:before {
  filter:brightness(50%);
} */

.lighter{}


html {
    
    --col1: #607d8b;
    
    --col2: #795548;
    
    --col3: #616161;
}

.w3-col-1,.w3-hover-col-1:hover{color:#fff;background-color:var(--col1)}
.w3-border-col-1,.w3-hover-border-col-1:hover{border-color:var(--col1)}

.w3-col-2,.w3-hover-col-2:hover{color:#fff;background-color:var(--col2)}
.w3-border-col-2,.w3-hover-border-col-2:hover{border-color:var(--col2)}

.w3-col-3,.w3-hover-col-3:hover{color:#fff;background-color:var(--col3)}
.w3-border-col-3,.w3-hover-border-col-3:hover{border-color:var(--col3)}
